*.pth filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.onnx.data filter=lfs diff=lfs merge=lfs -text
linux/bundled/ffmpeg filter=lfs diff=lfs merge=lfs -text
linux/bundled/ffprobe filter=lfs diff=lfs merge=lfs -text
